<h1 class="center">App Ideas</h1>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>Create A New Idea</h3>
    <a href="/apps/new" class="btn">New App</a>
  </div>
</div>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>View Apps</h3>
    <a href="/apps" class="btn">All Apps</a>
  </div>
</div>