<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">App Ideas</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/apps">My Apps</a></li>
      <li><a href="/apps/new">New Idea</a></li>
    </ul>
  </div>
</nav>